*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#f1f5f9;
    color:#0f172a;
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:260px;
    height:100vh;
    background:#07122b;
    color:white;
    padding:25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:fixed;
}

.logo-section{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:40px;
}

.logo-section img{
    width:55px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.menu-btn{
    background:transparent;
    border:none;
    color:white;
    padding:15px;
    border-radius:14px;
    text-align:left;
    cursor:pointer;
    transition:0.3s;
    font-size:15px;
}

.menu-btn:hover{
    background:#1e293b;
}

.menu-btn.active{
    background:#2563eb;
}

.logout-btn{
    background:#ef4444;
    border:none;
    color:white;
    padding:14px;
    border-radius:14px;
    cursor:pointer;
}

/* MAIN */
.main-content{
    margin-left:260px;
    width:100%;
    padding:35px;
}

/* TOPBAR */
.topbar{
    margin-bottom:35px;
}

.topbar h1{
    font-size:42px;
}

.topbar p{
    color:#64748b;
    margin-top:5px;
}

/* ANALYTICS */
.analytics{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    color:white;
    padding:40px;
    border-radius:24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:180px;
    transition:0.3s;
}

.stat-card h2{
    font-size:42px;
    margin-top:10px;
}

.stat-card p{
    font-size:17px;
}

.stat-card span{
    display:block;
    margin-top:14px;
    font-size:14px;
    opacity:0.9;
}

.stat-card i{
    font-size:50px;
}

.clickable-card{
    cursor:pointer;
}

.glow-card{
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.glow-card:hover{
    transform:translateY(-8px) scale(1.02);
}

/* CARD COLORS */
.blue{
    background:linear-gradient(135deg,#2563eb,#3b82f6);
}

.purple{
    background:linear-gradient(135deg,#7c3aed,#9333ea);
}

.orange{
    background:linear-gradient(135deg,#f59e0b,#f97316);
}

.green{
    background:linear-gradient(135deg,#10b981,#34d399);
}

/* OVERVIEW GRID */
.overview-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.overview-card{
    background:white;
    border-radius:24px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,0.06);
}

.overview-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.overview-title h3{
    font-size:24px;
}

.overview-title i{
    font-size:22px;
    color:#2563eb;
}

.activity-list{
    list-style:none;
}

.activity-list li{
    padding:14px 0;
    border-bottom:1px solid #e2e8f0;
    color:#475569;
}

.insight-box{
    background:#f8fafc;
    padding:18px;
    border-radius:16px;
    margin-bottom:15px;
}

.tip-card{
    background:#eff6ff;
    color:#1d4ed8;
    padding:18px;
    border-radius:16px;
    margin-bottom:15px;
    font-weight:600;
}

/* ORDERS TOP */
.orders-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.orders-top h1{
    font-size:40px;
}

.orders-top p{
    color:#64748b;
    margin-top:5px;
}

/* SEARCH */
.search-box{
    background:white;
    padding:12px 18px;
    border-radius:14px;
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.06);
}

.search-box input{
    border:none;
    outline:none;
    width:220px;
}

/* TABLE */
.table-header h2{
    font-size:34px;
}

.table-header p{
    color:#64748b;
    margin-bottom:15px;
}

.table-card,
.chart-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.06);
}

.chart-card{
    height:500px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:20px;
    text-align:left;
    border-bottom:1px solid #e2e8f0;
}

tbody tr:hover{
    background:#f8fafc;
}

/* STATUS */
.status{
    padding:8px 16px;
    border-radius:999px;
    font-weight:700;
}

.pending,
.received,
.progress,
.ready{
    background:#dbeafe;
    color:#2563eb;
}

.completed{
    background:#dcfce7;
    color:#166534;
}

/* BUTTONS */
.action-btn{
    border:none;
    padding:10px 14px;
    border-radius:10px;
    color:white;
    margin-right:5px;
    cursor:pointer;
}

.received-btn{background:#2563eb;}
.ready-btn{background:#2563eb;}
.progress-btn{background:#2563eb;}
.complete-btn{background:#10b981;}
.delete-btn{background:#ef4444;}

/* TAB SYSTEM */
.tab-content{
    display:none;
}

.active-tab{
    display:block;
}